a {
  text-decoration: none !important;
  color: black;
}

html, body {
  width: 100%;
  height: 100%;
  /* overflow-x: hidden; */
}

body {
  margin: 0;
  padding: 0;
}

section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-title{
  margin-top: 8em;
  margin-bottom: 3em;
  margin-left: 4em;
  font-weight: 700;
}


.main-row{
  overflow-x: hidden;
}

.col:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.836) !important;
  text-align: center;
}

.navbar
{
  position: fixed; 
width: 100%; 
height: auto; 
background-color: transparent !important; 
top:0;
margin:0 0;
  transition: top 0.45s ease-in-out;
  z-index: 1000 !important;
  /* padding-left: 1em; */

}

#logo{
  margin-left: 1em;
  z-index: 100;
}

#logo-footer{
  filter: invert(95%) sepia(97%) saturate(14%) hue-rotate(213deg) brightness(104%) contrast(104%);
  margin-bottom: 3em;
}

.navbar-brand{
  /* padding-left: 3rem; */
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 1000;
}

.navbar-toggler{
  border: none;
  text-decoration: none !important;
  /* margin-right: 1em; */
}

button:focus {outline:0;}

.custom-toggler .navbar-toggler-icon {
  background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 0, 0)' stroke-width='5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 7em;
}

.sidenav a {
  text-decoration: none;
  font-size: 1.1em;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.menu-item{
    padding-top: 2em;
    padding-left: 2em;
    cursor: pointer;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 1em;
  font-size: 3em;
}

footer
{
 width: 100%; 
 height: auto; 
 background-color: transparent !important; 
 bottom:0;
 margin:0 0;
   z-index: 1000 !important;
   /* padding-left: 1em; */

}
 
 #footer-text{
     margin: 2em;
 }

 .link-footer{
     color: rgba(255, 255, 255, 0.500);
 }

 .link-footer:hover{
     color: white !important;
 }

 .icon-footer{
   filter: invert(95%) sepia(97%) saturate(14%) hue-rotate(213deg) brightness(104%) contrast(104%);
   margin-right: 1em;
 }

 .icon-footer-s{
   filter: invert(95%) sepia(97%) saturate(14%) hue-rotate(213deg) brightness(104%) contrast(104%);
 }

 .bg-icon{
   padding: .5em !important;
   margin-right: .5em;
   margin-left: .5em;
   border-radius: 100%;
 }

 .bg-icon:hover{
    background-color:rgba(255, 255, 255, 0.212);
 }

/* =========================================================================== */

  * {
    box-sizing: border-box;
  }
  
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }

  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #f1f1f1;
    color: black;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: grey;
  }
  
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  /* Dashed border */
  hr.dashed {
    border-top: 3px dashed #bbb;
  }

  .column1 {
    float: left;
    text-align: right;
    width: 50%;
    padding: 10px;
  }
  .column2 {
    float: left;
    text-align: left;
    width: 50%;
    padding: 10px;
  }

  .button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    margin: 4px 2px;
    cursor: pointer;
    height: 200px;
    width: 80%;
  }